<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShelterApp: Add Animal</title>
</head>
<body>
<h1>Please enter the information for a new animal:</h1>
<div class="form-container">
    <form th:action="@{add}" method="post" th:object="${locChoice}">
        <p>Select the location to add to:</p>
        <select th:field="*{choice}" name = "locID">
            <option th:each="loc : ${locOptions}" th:value="${loc}" th:text="${loc}"></option>
        </select>

        <p>Select the animal's type:</p>
        <div class="input-container">
            <input type="radio" id="DOG" name="animal_type" value="DOG">
            <label for="DOG">Dog</label><br>
            <input type="radio" id="CAT" name="animal_type" value="CAT">
            <label for="CAT">Cat</label><br>
            <input type="radio" id="BIRD" name="animal_type" value="BIRD">
            <label for="BIRD">Bird</label><br>
            <input type="radio" id="RABBIT" name="animal_type" value="RABBIT">
            <label for="RABBIT">Rabbit</label><br>
        </div>

        <div class="input-container">
            <label for="name">Enter the animal's name:</label>
            <input type="text" id="name" name="name" placeholder="Name"/> <br>
        </div>

        <div class="input-container">
            <label for="weight">Enter the animal's weight:</label>
            <input type="number" id="weight" name="weight" placeholder="0"/> <br>
        </div>

        <div class="input-container">
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob"> <br>
        </div>

        <div class="input-container">
            <label for="datereceived">Date Received:</label>
            <input type="date" id="datereceived" name="datereceived"> <br>
        </div>

        <div class="input-container">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</body>
</html>