<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShelterApp: Add Location</title>
</head>
<body>
<h1>Please enter the information for a new location: </h1>
<p>Select the location type: </p>
<input type="radio" id="shelter" name="loc_type" value="SHELTER">
<label for="shelter">Shelter</label><br>
<input type="radio" id="fosterhome" name="loc_type" value="FOSTER_HOME">
<label for="fosterhome">Foster Home</label><br>

<label for="name">Enter the location name:</label>
<input type="text" id="name" /> <br>

<label for="address">Enter the address:</label>
<input type="text" id="address" /> <br>

<label for="capacity">Enter the location's capacity:</label>
<input type="number" id="capacity" /> <br>

<p>Select the animal types handled at this location: </p>
<input type="checkbox" id="dog" name="dog" value="DOG">
<label for="dog">Dog</label><br>
<input type="checkbox" id="cat" name="cat" value="CAT">
<label for="cat">Cat</label><br>
<input type="checkbox" id="bird" name="bird" value="BIRD">
<label for="bird">Bird</label><br>
<input type="checkbox" id="rabbit" name="rabbit" value="RABBIT">
<label for="rabbit">Rabbit</label><br>

<a href="/dataaddedsuccess">Success</a> <br/>
<a href="/dataaddedfailure">Fail</a> <br/>
</body>
</html>