<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Animals</title>
</head>
<body>
<h1>All Animals</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Species</th>
        <th>Weight</th>
        <th>Date of Birth</th>
        <th>Intake Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="animal : ${animals}">
        <td th:text="${animal.id}"></td>
        <td th:text="${animal.name}"></td>
        <td th:text="${animal.species}"></td>
        <td th:text="${animal.weight}"></td>
        <td th:text="${animal.DOB}"></td>
        <td th:text="${animal.intakeDate}"></td>
    </tr>
    </tbody>
</table>

<a href="/index.html">Back to Home</a>
</body>
</html>
