<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShelterApp: Select Location</title>
</head>
<body>
<h1>All Animals: </h1>
<ul>
    <li>Mikleo</li>
    <li>Echo</li>
    <li>Jack</li>
    <li>Solaire</li>
    <li>Mia</li>
    <li>Sophia</li>
</ul> <br>

<h1>Detailed Table: </h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Species</th>
        <th>Weight</th>
        <th>DOB</th>
        <th>Intake Date</th>
        <th>Exit Date</th>
        <th>Exit Code</th>
        <th>Records</th>
    </tr>
    <tr th:each="animal:${animals}">
        <td th:text="${animal.id}">Id</td>
        <td th:text="${animal.name}">Name</td>
        <td th:text="${animal.species}">Species</td>
        <td th:text="${animal.weight}">Weight</td>
        <td th:text="${animal.DOB}">DOB</td>
        <td th:text="${animal.intakeDate}">IntakeDate</td>
        <td th:text="${animal.exitDate}">exitDate</td>
        <td th:text="${animal.code}">exitCode</td>
        <td>see Records</td>
    </tr>
</table> <br>

<a href="/index.html">Return to Home</a> <br/>
</body>
</html>