<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShelterApp: Search for Animal</title>
    <link rel="stylesheet" th:href="@{../styles.css}" />
</head>
<body>
<h1>Search for Animal: </h1>
<div class="form-container">
    <form th:action="@{searchforanimal}" method="post" th:object="${searchValue}">

        <div class="input-container">
            <label for="name">Enter name:</label>
            <input type="text" id="name" name="name" placeholder="Name"/> <br>
        </div>

        <div class="input-container">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
<br>
<table>
    <thead>
    <tr>
        <th>ID|</th>
        <th>Name|</th>
        <th>Species|</th>
        <th>Weight|</th>
        <th>Date of Birth|</th>
        <th>Intake Date|</th>
        <th>Exit Date|</th>
        <th>Exit Code|</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="animal : ${animals}">
        <td th:text="${animal.id}"></td>
        <td th:text="${animal.name}"></td>
        <td th:text="${animal.species}"></td>
        <td th:text="${animal.weight}"></td>
        <td th:text="${animal.DOB}"></td>
        <td th:text="${animal.intakeDate}"></td>
        <td th:text="${animal.exitDate}"></td>
        <td th:text="${animal.code}"></td>
    </tr>
    </tbody>
</table>

<br><a href="/index.html">Back to Home</a>
</body>
</html>