<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShelterApp: Select Location to Remove Animal</title>
</head>
<body>
<h1>Please select an animal to remove: </h1>
<select name="loc" id="loc">
    <option value="loc1">Mikleo</option>
    <option value="loc2">Echo</option>
    <option value="loc3">Jack</option>
    <option value="loc4">Solaire</option>
</select> <br>

    <a href="/removedatasuccess.html">Success</a> <br/>
    <a href="/removedatafailure.html">Failure</a> <br/>
</body>
</html>