<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShelterApp: Select Location</title>
</head>
<body>
    <h1>Please select a location: </h1>
    <select name="loc" id="loc">
        <option value="loc1">Puppy Lovers</option>
        <option value="loc2">Cat's Meow</option>
        <option value="loc3">Love Birds</option>
        <option value="loc4">Hopping Bunnies</option>
    </select> <br>

    <a href="/showlocanimals.html">Show Animals</a> <br/>
</body>
</html>