<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShelterApp: Select Location Animals</title>
</head>
<body>
<h1>Please select a location: </h1>

<!-- THIS IS A DROPDOWN OF ALL LOCATIONS IN THE DATABASE -->
<form th:action="@{selectLoc}" method="post" th:object="${locChoice}">
    <select th:field="*{choice}" name = "locID">
        <option th:each="loc : ${locOptions}" th:value="${loc}" th:text="${loc}"></option>
    </select>
    <input type="submit" value="Submit">
</form>


<!-- THIS TABLE DISPLAYS ANIMALS BASED ON THE LOCATION SELECTED IN THE DROPDOWN ABOVE -->
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Species</th>
        <th>Weight</th>
        <th>Date of Birth</th>
        <th>Intake Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="animal : ${animals}">
        <td th:text="${animal.id}"></td>
        <td th:text="${animal.name}"></td>
        <td th:text="${animal.species}"></td>
        <td th:text="${animal.weight}"></td>
        <td th:text="${animal.DOB}"></td>
        <td th:text="${animal.intakeDate}"></td>
    </tr>
    </tbody>
</table>

<!-- BACK TO HOME BUTTON -->
<a href="/index.html">Back to Home</a>
</body>
</html>
