<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShelterApp: Select Location</title>
</head>
<body>
<h1>Please enter the updated information: </h1>
<label for="name">Enter the animal's name:</label>
<input type="text" id="name" /> <br>

<label for="breed">Enter the animal's breed:</label>
<input type="text" id="breed" /> <br>

<label for="weight">Enter the animal's weight:</label>
<input type="number" id="weight" /> <br>

<label for="cost">Enter the animal's cost (enter 0 if unknown):</label>
<input type="number" id="cost" /> <br>

<a href="/updatedatasuccess.html">Success</a> <br/>
<a href="/updatedatafailure.html">Fail</a> <br/>
</body>
</html>