<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Location Address</title>
</head>
<body>
<h1>Update Location Address</h1>

<form th:action="@{/updatelocation}" method="post">
    <input type="hidden" th:value="${location.id}" name="id" />
    <label for="address">Address:</label>
    <input type="text" th:value="${location.address}" name="address" placeholder="Address"/><br/>
    <button type="submit">Update Address</button>
</form>

<a href="/displaylocations">Back to Locations</a>
</body>
</html>
