<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShelterApp: Select Location</title>
</head>
<body>
<h1>Please enter the updated information: </h1>
<p>Select the type of person: </p>
<input type="radio" id="employee" name="person_type" value="SHELTER_STAFF">
<label for="employee">Shelter Staff</label><br>
<input type="radio" id="fosterstaff" name="person_type" value="FOSTER_HOME">
<label for="fosterstaff">Foster Staff</label><br>
<input type="radio" id="adoptee" name="person_type" value="ADOPTEE">
<label for="adoptee">Adoptee</label><br>

<label for="name">Enter their name:</label>
<input type="text" id="name" /> <br>

<label for="address">Enter their address:</label>
<input type="text" id="address" /> <br>

<label for="phone">Enter their phone number:</label>
<input type="text" id="phone" /> <br>

<a href="/updatedatasuccess.html">Success</a> <br/>
<a href="/updatedatafailure.html">Fail</a> <br/>
</body>
</html>